html{
    min-width: 400px;
}
body{
    margin:0;
    background-image:url("../img/back.jpg");
    background-size: 200%;
    background-repeat: repeat;
}
.wrapper, header{
    margin: 0;
    padding: 0;
}
.wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    perspective:5px;
}
.parallax {
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.forelayer{
    transform: translateZ(-10px)scale(4);
    object-fit: cover;
}
.toplayer{
    transform: translateZ(-5px)scale(2)scaleY(1);
    /*margin-top:25%;*/
    margin-left: -10px;
    object-fit:cover;
}
.toplayer,.forelayer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.title{
    transform: translateZ(-3px)scale(3.5);
    color: white;
    text-shadow: 2px 2px darkmagenta, 4px 4px 2px black, -1px -1px 5px black;
    font-family: "Segoe UI Light", sans-serif;
    font-weight: bolder;
    letter-spacing: 1vw;
    transition: letter-spacing .8s ease-in-out;
}
.subtitle{
    transform: translateZ(-2px)scale(3.5);
    font-size: 1dvmax;
    color:white;
    text-shadow: 1px 1px darkmagenta,1px 1px 2px black, -1px -1px 2px black;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 1vw;
    transition: letter-spacing .8s ease-in-out;
    margin-bottom: -30vh;
}
.title,.subtitle{
    position: absolute;
}
.title:hover{
    letter-spacing: 1.2vw;
}
.subtitle:hover{
    letter-spacing: 1.2vw;
}
main{
    background-image:url("../img/back.jpg");
    background-color: grey;
    background-attachment: fixed;
    accent-color: purple;
}
main > * {
    /*backdrop-filter: blur(10px);*/
}
article{
    padding: 10px;
    background:rgba(140, 140, 140,0.7);
    border-left: 3px cyan solid;
    color:white;
    margin-top: 5%;
    margin-bottom:3%;
    font-family: "Segoe UI Light",monospace;
    text-align: center;
    transition: background-color .5s, color .5s, letter-spacing .5s;
    backdrop-filter: blur(5px);
}
article:hover{
    background-color: lightblue;
    color: darkslategrey;
    letter-spacing: 1px;
}
/*ul{*/
/*    display: table;*/
/*    margin: auto;*/
/*    list-style-image: url(../img/ul_icon.png);*/
/*    font-family: "Segoe UI Light",monospace;*/
/*}*/
th,td{
    text-align: center;
    font-family: "Segoe UI Light",monospace;
    font-size:larger;
}
table{
    margin: 35px auto 20px;
    font-size: 1.75vw;
    width:50px;
    min-width: 50px;
}
.form{
    color:white;
    width: 100%;
    display: inline-block;
    padding: 20px;
    font-family: "Segoe UI Light",monospace;
}
ol {
    list-style: none;
}
/*ol li{*/
/*    padding: 20px;*/
/*}*/
footer{
    color:grey;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: "Segoe UI Light",monospace;
    background-color: #343a40;
    text-align: center;
}
/*.links{*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: space-around;*/
/*    align-content: center;*/
/*    padding-right: 25%;*/
/*    padding-left: 25%;*/
/*}*/
.icon-link{
    border: hidden;
    border-radius: 20px;
    /*margin-right: 10vw;*/
    /*margin-left: 10vw;*/
    max-width: 65px;
    max-height: 65px;
    min-width: 65px;
    min-height: 65px;
}
/*button{*/
/*    padding: 10px;*/
/*    background-color: lightblue;*/
/*    color: darkslategrey;*/
/*    transition: color .5s, background-color .5s, transform .5s;*/
/*    border:0;*/
/*    border-radius: 1px;*/
/*    width: 10rem;*/
/*}*/
/*button:hover{*/
/*    transform: scale(1.2);*/
/*    color:lightblue;*/
/*    background-color: darkslategrey;*/
/*}*/
hr{
    border-color: white;
    transition: all 1s ease-out;
}
hr:hover{
    border-color:cyan;
    transition: all 0s;
}
/*nav{*/
/*    background-color: red;*/
/*    width: 100%;*/
/*    top:0;*/
/*    position: sticky;*/
/*    text-align: center;*/
/*}*/
.carousel{
    transition: transform .5s;
}
.carousel:hover{
    z-index: 2;
    transform: scale(1.1);
    backdrop-filter: contrast(200%) blur(10px);
}
.carousel-inner{
    height: 0;
    padding-bottom: 100%;
}
.carousel-item {
    backdrop-filter: sepia(150%) blur(10px);
    padding: 3%;
    padding-bottom: 5%;
    margin: 3%;
    margin-left: -1%;
    height: 100%;
    position: absolute !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
@media (min-width: 580px) and (max-width: 1079px){
    .carousel-item .card {
        font-size: 1.75vw;
        height: 100%;
        border: none;
        background: rgba(140, 140, 140, 0.85);
        color: white;
        object-fit: contain;
    }
}
@media (min-width: 1080px) and (max-width: 1600px) {
    .carousel-item .card {
        font-size: 1.5vw;
        height: 100%;
        border: none;
        background: rgba(140, 140, 140, 0.85);
        color: white;
        object-fit: contain;
    }
}
@media (min-width: 1601px) {
    .carousel-item .card {
        font-size: 1vw;
        height: 100%;
        border: none;
        background: rgba(140, 140, 140, 0.85);
        color: white;
        object-fit: contain;
    }
}
@media (max-width: 579px){
    .carousel-item .card {
        font-size: 1.25rem;
        height: 100%;
        border: none;
        background: rgba(140, 140, 140, 0.85);
        color: white;
        object-fit: contain;
    }
}
#vitrina, #cc_corner{
    scroll-margin-top: 90px;
}

form{
    backdrop-filter: blur(10px);
}

.invalid-feed{
    color: red;
    text-shadow: black 1px 1px;
}

.invalid{
    background-color: rgb(255,200,200);
    border: thick solid red;
}
.valid{
    background-color: white;
    border: thick solid greenyellow;
}
.donetask {
    text-decoration: line-through black;
}

.clock:before,
.count:after{
    content:'';
    position:absolute;
}
.clock-wrap{
    margin:auto;
    width:240px;
    height:240px;
    position:relative;
    border-radius:50px;
    background-color:#fff;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}
.clock{
    top:50%;
    left:50%;
    width:180px;
    height:180px;
    border-radius:50%;
    position:absolute;
    margin-top:-90px;
    margin-left:-90px;
    background-color:#BFECFF;
}
.clock:before{
    top:50%;
    left:50%;
    width:120px;
    height:120px;
    margin-top:-60px;
    margin-left:-60px;
    border-radius:inherit;
    background-color:cornflowerblue;
    box-shadow:0 0 15px rgba(0,0,0,.15), 0 0 3px rgba(255,255,255,.75) inset;
    border:1px solid rgba(255,255,255,.1);
}
.count{
    width:100%;
    color:#fff;
    height:100%;
    padding:50px;
    font-size:32px;
    font-weight:500;
    line-height:50px;
    position:absolute;
    text-align:center;
}
.count:after{
    width:100%;
    display:block;
    font-size:18px;
    font-weight:300;
    line-height:18px;
    text-align:center;
    position:relative;
}
.count.sec:after{content:'sec'}
.count.min:after{content:'min'}
.action{
    margin:auto;
    max-width:200px;
    margin-bottom: 10px;
}
.action .input{
    margin-top:30px;
    position:relative;
}
.action .input-num{
    width:100%;
    border:none;
    padding:12px;
    border-radius:60px;
}
.action .input-btn{
    top:0;
    right:0;
    color:#fff;
    border:none;
    padding:12px;
    position:absolute;
    border-radius:60px;
    background-color:cornflowerblue;
    text-transform:uppercase;
}

.popper-pop {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

*[data-descr] {
    text-decoration: underline;
    color: whitesmoke;
    cursor: help;
}

.invisible {
    display: none;
}

.tooltip_custom {
    position: absolute;
    background-color: whitesmoke;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 3px;
}

.alert-disappear{
    white-space: nowrap;
    overflow: hidden;
}

.color{
    transition: background-color 0.5s;
    background-color: #4d5154;
}

.game-container {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    position: relative;
}

.word-tile {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    touch-action: none;
}

.gamenotify {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    position: relative;
}

.hidden {
    display: none;
}

#gamebtn {
    margin-top: 20px;
}

#lorry{
    height: 1000px;
    width: 1000px;
    z-index: 2;
    position: absolute;
    top:93%;
    right:40%;
    opacity: 0;
    pointer-events: none;
}

.open-button {
    padding:10px 40px;
    background-color: darkmagenta;
    color: white;
    font-size:17px;
    max-width:300px;
    border-radius:20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;

}

.form-chat {
    max-width: 300px;
    padding: 10px;
    border-radius:20px;
    background-color: white;
    color:#777;
}

.form-chat textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius:20px;
    background: #ddd;
    resize: none;
    min-height: 200px;
    color:#777;
}

.form-chat textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-chat .cbtn {
    background-color: darkmagenta;
    color: white;
    font-size:17px;
    padding: 10px 20px;
    border: none;
    border-radius:20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

.form-chat .ccancel {
    background-color: lightseagreen;
}

.form-chat .cbtn:hover, .open-button:hover {
    opacity: 0.8;
}

.cmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.cmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cclose:hover,
.cclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}